<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include navbar %>        
        <div class="container">            
            <div class="title-dashboard">
                <img src="/images/topten-logo.png" class="img-topten">
            </div>
            <div class="serch-row">
                <div class="search-col">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active"  id="conference-button">
                            <input type="radio" name="options" checked> 
                            Conference
                        </label>
                        <label class="btn btn-secondary" id="league-button">
                            <input type="radio" name="options"> 
                            League
                        </label>
                    </div>
                </div>
                <div class="search-col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown-click" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Year
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <% for(var i = current_year; i > current_year-5; i--) {  %>                               
                                <button class="dropdown-item" type="button" ><%= i %> - <%= i+1 %></button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div id="topten-table">
                <%- include topten_conference %>
            </div>            
        </div>        
        <script src="/javascripts/main.js"></script>
    </body>
</html>
