<%- include script_link %>

<div class="condition-year" id="s<%= current_year %>"><td><%= current_year %></td></div>
<div class="topic-filter">League <%= current_year %></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">PCT</th>
            <th scope="col">CGB</th>
            <th scope="col">Home</th>
            <th scope="col">DIV</th>
            <th scope="col">CONF</th>
            <th scope="col">L10</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">DIFF</th>
            <th scope="col">STRK</th>
        </tr>
    </thead>
    <tbody>        
        <% var count=1; %>     
        <% for(var i=0; i < data.length; i++) { %>            
            <%if (data[i].year == current_year) { %>                                   
                <tr>                                     
                    <td><%= count %></td>
                    <td><%= data[i].team_name %></td>
                    <td><%= data[i].w_score %></td>
                    <td><%= data[i].l_score %></td>
                    <td><%= data[i].pct_score %></td>
                    <td><%= data[i].cgb_score %></td>
                    <td><%= data[i].home_score %></td>
                    <td><%= data[i].div_score %></td>
                    <td><%= data[i].conf_score %></td>
                    <td><%= data[i].l10_score %></td>
                    <td><%= data[i].pf_score %></td>
                    <td><%= data[i].pa_score %></td>
                    <td><%= data[i].diff_score %></td>
                    <td><%= data[i].strk_score %></td>                                        
                </tr>                
                <% count++ %>
            <% } %>                      
        <% } %>             
        </div>   
    </tbody>
</table>

<hr>

<div class="condition-year" id="s<%= current_year-1 %>"><td><%= current_year-1 %></td></div>
<div class="topic-filter">League <%= current_year-1 %></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">PCT</th>
            <th scope="col">CGB</th>
            <th scope="col">Home</th>
            <th scope="col">DIV</th>
            <th scope="col">CONF</th>
            <th scope="col">L10</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">DIFF</th>
            <th scope="col">STRK</th>
        </tr>
    </thead>
    <tbody>        
        <% var count=1; %>     
        <% for(var i=0; i < data.length; i++) { %>            
            <%if (data[i].year == current_year-1) { %>                                   
                <tr>                                     
                    <td><%= count %></td>
                    <td><%= data[i].team_name %></td>
                    <td><%= data[i].w_score %></td>
                    <td><%= data[i].l_score %></td>
                    <td><%= data[i].pct_score %></td>
                    <td><%= data[i].cgb_score %></td>
                    <td><%= data[i].home_score %></td>
                    <td><%= data[i].div_score %></td>
                    <td><%= data[i].conf_score %></td>
                    <td><%= data[i].l10_score %></td>
                    <td><%= data[i].pf_score %></td>
                    <td><%= data[i].pa_score %></td>
                    <td><%= data[i].diff_score %></td>
                    <td><%= data[i].strk_score %></td>                                        
                </tr>                
                <% count++ %>
            <% } %>                      
        <% } %>             
        </div>   
    </tbody>
</table>

<hr>

<div class="condition-year" id="s<%= current_year-2 %>"><td><%= current_year-2 %></td></div>
<div class="topic-filter">League <%= current_year-2 %></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">PCT</th>
            <th scope="col">CGB</th>
            <th scope="col">Home</th>
            <th scope="col">DIV</th>
            <th scope="col">CONF</th>
            <th scope="col">L10</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">DIFF</th>
            <th scope="col">STRK</th>
        </tr>
    </thead>
    <tbody>        
        <% var count=1; %>     
        <% for(var i=0; i < data.length; i++) { %>            
            <%if (data[i].year == current_year-2) { %>                                   
                <tr>                                     
                    <td><%= count %></td>
                    <td><%= data[i].team_name %></td>
                    <td><%= data[i].w_score %></td>
                    <td><%= data[i].l_score %></td>
                    <td><%= data[i].pct_score %></td>
                    <td><%= data[i].cgb_score %></td>
                    <td><%= data[i].home_score %></td>
                    <td><%= data[i].div_score %></td>
                    <td><%= data[i].conf_score %></td>
                    <td><%= data[i].l10_score %></td>
                    <td><%= data[i].pf_score %></td>
                    <td><%= data[i].pa_score %></td>
                    <td><%= data[i].diff_score %></td>
                    <td><%= data[i].strk_score %></td>                                        
                </tr>                
                <% count++ %>
            <% } %>                      
        <% } %>             
        </div>   
    </tbody>
</table>

<hr>

<div class="condition-year" id="s<%= current_year-3 %>"><td><%= current_year-3 %></td></div>
<div class="topic-filter">League <%= current_year-3 %></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">PCT</th>
            <th scope="col">CGB</th>
            <th scope="col">Home</th>
            <th scope="col">DIV</th>
            <th scope="col">CONF</th>
            <th scope="col">L10</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">DIFF</th>
            <th scope="col">STRK</th>
        </tr>
    </thead>
    <tbody>        
        <% var count=1; %>     
        <% for(var i=0; i < data.length; i++) { %>            
            <%if (data[i].year == current_year-3) { %>                                   
                <tr>                                     
                    <td><%= count %></td>
                    <td><%= data[i].team_name %></td>
                    <td><%= data[i].w_score %></td>
                    <td><%= data[i].l_score %></td>
                    <td><%= data[i].pct_score %></td>
                    <td><%= data[i].cgb_score %></td>
                    <td><%= data[i].home_score %></td>
                    <td><%= data[i].div_score %></td>
                    <td><%= data[i].conf_score %></td>
                    <td><%= data[i].l10_score %></td>
                    <td><%= data[i].pf_score %></td>
                    <td><%= data[i].pa_score %></td>
                    <td><%= data[i].diff_score %></td>
                    <td><%= data[i].strk_score %></td>                                        
                </tr>                
                <% count++ %>
            <% } %>                      
        <% } %>             
        </div>   
    </tbody>
</table>

<hr>

<div class="condition-year" id="s<%= current_year-4 %>"><td><%= current_year-4 %></td></div>
<div class="topic-filter">League <%= current_year-4 %></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Team</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">PCT</th>
            <th scope="col">CGB</th>
            <th scope="col">Home</th>
            <th scope="col">DIV</th>
            <th scope="col">CONF</th>
            <th scope="col">L10</th>
            <th scope="col">PF</th>
            <th scope="col">PA</th>
            <th scope="col">DIFF</th>
            <th scope="col">STRK</th>
        </tr>
    </thead>
    <tbody>        
        <% var count=1; %>     
        <% for(var i=0; i < data.length; i++) { %>            
            <%if (data[i].year == current_year-4) { %>                                   
                <tr>                                     
                    <td><%= count %></td>
                    <td><%= data[i].team_name %></td>
                    <td><%= data[i].w_score %></td>
                    <td><%= data[i].l_score %></td>
                    <td><%= data[i].pct_score %></td>
                    <td><%= data[i].cgb_score %></td>
                    <td><%= data[i].home_score %></td>
                    <td><%= data[i].div_score %></td>
                    <td><%= data[i].conf_score %></td>
                    <td><%= data[i].l10_score %></td>
                    <td><%= data[i].pf_score %></td>
                    <td><%= data[i].pa_score %></td>
                    <td><%= data[i].diff_score %></td>
                    <td><%= data[i].strk_score %></td>                                        
                </tr>                
                <% count++ %>
            <% } %>                      
        <% } %>             
        </div>   
    </tbody>
</table>

<script src="/javascripts/main.js"></script>  
